header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: rgb(33, 33, 33);
    color: white;
    .logo{
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        transition: 600ms all;
        h1{
            padding-top: 3%;
            transition: 600ms all;
        }
        .imagen{
            width:70px;
            height: 70px;
        }
    }
    .navegacion{
        display: flex;
        flex-direction: row;
        width: 30%;
        align-items: flex-end;
        transition: 600ms all;
        h1{
            margin-right: 8%;
            transition: 600ms all;
        }
    }
}



@media(max-width: 910px){
    header{
        .logo{

            h1{
                font-size: 25px;
                transition: 600ms all;
            }
        }
        .navegacion{
            align-items: center;
            margin-right: 25%;
            transition: 600ms all;
            h1{
                font-size: 20px;
                transition: 600ms all;
            }
        }
    }
}