.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #9997977b;
    width: 90%;
    border-radius: 40px;
    margin-bottom: 50px;
    transition: 600ms all;
    .texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 75%;
        transition: 600ms all;
        .titulo{
            font-size: 5em;
            -webkit-text-stroke: 1px white;
            transition: 600ms all;
        }
        .parrafo{
            font-size: 1.5em;
            padding-top: 1%;
            width: 80%;
            transition: 600ms all;
        }
    }
    .texto.carrusel{
       align-items: center;
       transition: .5s ease;
       color: white;
       padding-top: 0;
       transition: 600ms all;
       .titulo{
        font-size: 3em;
        transition: 600ms all;
       }
       .parrafo{
        width: 70%;
        font-size: 1.5em;
        padding-top: 1%;
        transition: 600ms all;
       }
    }
    .carrusel{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 100em;
        padding: 2em;
        padding-bottom: 0;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 15px;
        transition: .5s ease;
        .grande{
            width: 400%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 2em;

            transition: all .5s ease;
            transform: translateX(0%);
            overflow: hidden;
            transition: 600ms all;
            img{
                min-height: 10vh;
                width: calc(100%/4.5);
                margin-left: 1%;
                margin-right: 2%;
                transition: 600ms all;
                
            }
        }
        
        .puntos{
            width: 100%;
            padding: 1em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            transition: .5s ease;
            .punto{
                list-style: none;
                width: 2em;
                height: 2em;
                background-color: rgb(199, 199, 199);
                border-radius: 50%;
                margin: 1em;
                transition: .5s ease;
            }
            .punto:hover{
                cursor: pointer;
                transition: 600ms all;
            }
            .punto.activo{
                background-color: green;
                transition: .5s ease;
            }
        }
    }
  
    .personajes_aumento{
        justify-content: center;
        display: flex;
        width: 500px;
        height: 400px;
        margin-top: 3%;
        margin-bottom: 7%;
        transition: 600ms all;
        .personaje{
            background-color: rgb(255, 255, 255);
            width: 200px;
            height: 100%;
            flex-grow: 1;
            object-fit: cover;
            transition: .5s ease;
            transition: 600ms all;
        }
        .personaje:hover{
            cursor: pointer;
            width: 300px;
            opacity: 1;
            filter: contrast(150%);
            transition: .5s ease;
            transition: 600ms all;
        }
    }

    .fondo{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(165, 165, 165, 0.8);
        z-index: 1;
        display: none;
        transition: 600ms all;
    }

    .fondo.activo{
        display: flex;
    }
    
    .lightbox{
        position: fixed;
        top: 20%;
        left: 10%;
        width: 79.5%;
        height: 60%;
        background: rgba(255, 255, 255, 0);
        border-radius: 20px;
        z-index: 2;
        display: none;
       
        opacity: 0;
        transition:all .5s ease;
        transform: scale(0);
        pointer-events: none;
        transition: 600ms all;
        .cerrar{
            position: absolute;
            top: 0;
            right: 0;
            width: 2em;
            height: 2em;
            background: rgba(255, 255, 255, 0.511);
            transition:all .5s ease;
            border-radius: 50%;
            font-size: 1.5em;
            border:  rgba(255, 255, 255, 0.511);
            transition: 600ms all;
        }
        .cerrar:hover{
            cursor: pointer;
            color: white;
            background-color: red;
            transition: 0.5s ease;
            transition: 600ms all;
        }
        .big{
            padding-left: 3%;
            transform: scale(0.85);
            transition: 600ms all;
            
        }

        .info_personaje{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3%;
            background-color: white;
            width: 70%;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-right: 2%;
            border-radius: 20px;
            box-shadow: 7px 5px 5px 5px  rgb(100, 100, 100);
            border: solid rgba(135, 135, 135, 0.582);
            transition: 600ms all;

            .titulo{
                font-size: 4em;
                margin-bottom: 2%;
                transition: 600ms all;
            }

            .parrafo{
                width: 70%;
                font-size: 1.5em;
                transition: 600ms all;
            }
        }
    }
    .lightbox.activo{
        opacity: 1;
        transform: scale(1);
        display: flex;
        pointer-events: auto;
        transition:all .5s ease;
        
    }

    .video{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        transition: 600ms all;
        .texto{
            margin-bottom: 4%;
            width: 75%;
            transition: 600ms all;
            .titulo{
                font-size: 4em;
                margin-bottom: 2%;
                transition: 600ms all;
            }
            .parrafo{
                font-size: 1.5em;
                transition: 600ms all;
            }
        }
        .video_container{

            align-items: center;
            video{
                width: 720;
                height: 480;
                transition: 600ms all;
            }
            transition: 600ms all;
    
        }
    }
}



@media(max-width:680px){
    .principal{
        .texto{
            .titulo{
                font-size: 2.2em;
                transition: 600ms all;
            }
            .parrafo{
                font-size: 1.2em;
                transition: 600ms all;
            }
        }
        .texto.carrusel{
            
            .titulo{
             font-size: 2em;
             transition: 600ms all;
            }
            .parrafo{
             font-size: 1em;
             padding-top: 1%;
             transition: 600ms all;
            }
        }
        .carrusel{
            .grande{
                img{
                    margin-right: 4%;
                    margin-left: 0;
                    transition: 600ms all;
                }
            }
            .puntos{
                
                .punto{
                    height: 1.8em;

                    transition: .5s ease;
                }
            }   
        }
        .personajes_aumento{
            width: 90%;
            transition: 600ms all;
            .personaje{
                background-color: rgb(255, 255, 255);
                width: 100px;
                height: 50%;
                flex-grow: 1;
                object-fit: cover;
                transition: .5s ease;
            }
            .personaje:hover{
                cursor: pointer;
                width: 150px;
                opacity: 1;
                filter: contrast(150%);
                transition: .5s ease;
            }
        }
        .video{
            margin-top: -30%;

            .texto{
                margin-bottom: 0;
                width: 75%;
                transition: 600ms all;
                .titulo{
                    font-size: 2.2em;
                    transition: 600ms all;
                }
                .parrafo{
                    font-size: 1.2em;
                    transition: 600ms all;
                }
            }

        }
       
        
    }
    
}

@media(max-width:820px){
    .principal{
        .video{
           
            .video_container{
    
                video{
                   transform: scale(0.5);
                   transition: 600ms all;
                }
        
            }
        }
    }
}