body{
    min-height: 3000px;
    margin: 0;
    min-width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
