body{
    margin: 0;
    min-width: 360px;
}

::-webkit-scrollbar {
    display: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
