@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
// *** colores ***
$colorprincipal: #184785;
$colorinicio:#2A89DD;
$fondo:#3A77AD;

// *** fuentes ***

$fuenteheader:'Mukta', sans-serif;
$fuentetexto:'PT Sans', sans-serif;